# python cache dirs
__pycache__/
.ipynb_checkpoints/

# environment
.venv/

# logging
wandb/

# root-only workspace
/workspace/

# compiled python
*.pyc

# miscellaneous
.vscode
.codex
.loglogin
.python-version