# python cache dirs
__pycache__/
.ipynb_checkpoints/

# environment
.venv/

# logging
wandb/

# root-only workspace
/workspace/

# compiled python
*.pyc# pixi environments
.pixi/*
!.pixi/config.toml

train_data/
checkpoints/